* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --grid-row: 1;
    --grid-column: 1;
}

body {
    background-color: #F38;
}

#container {
    display: grid;
    background-color: #FFF;
    grid-template-columns: repeat(var(--grid-column), 1fr);
    grid-template-rows: repeat(var(--grid-row), 1fr);
    margin: auto;
    margin-top: 5px;
    width: 720px;
    height: 720px;
}

.container-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
}